.body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-size: cover;
    position: fixed;
}


.homemain{
    display: flex;
    justify-content: left;
    gap: 60px;
    font-weight: 300;
    /* box-shadow: 1px 1px 10px 1px gray; */

}
.homeone{
    background-color: white;
   height: 100px;
   width: 500px;
    font-size: 35px;
    font-weight: 1000;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hometwo{
    display: flex;
    align-items: right;
    font-size: 18px;
    gap: 40px; 
   margin: 20px;   
   padding-top: 14px; 
}
.homethree{
    height: 100px;
    width: 500px;
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 500px;
    background-color:white;
    
}
.pic1{
    height: 35px; 
    width: 50px; 
    background-image:url(../pictures/twitter.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    
}
.pic2{
    background-image: url(../pictures/fb.jpg);
    height: 30px;
    width: 60px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}
.pic3{
    background-image: url(../pictures/pinterest.png);
    height: 50px;
    width: 70px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}
.pic4{
    background-image: url(../pictures/sicon.png);
    height: 30px;
    width: 60px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}
.pic5{
    background-image: url(../pictures/shooping\ cart.webp);
    height: 70px;
    width: 70px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}


a{
    text-decoration: none;
    color: purple;
}

.mainsub{
    display: flex;
    flex-direction: column;
    background-size: cover;
    gap: 40px;
}
.mainpic{
    background-image: url(../pictures/image1.jpg);
    height: 900px;
    width: 70%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: column;
    margin: 0px auto;
    
}
.text{
    color: white;
    font-size: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
    font-weight: 800;
    }
.logo{
    height: 80px;
    width: 100px;
    background-color: purple;
    color: white;
    display: flex;
    text-align: center;
}
.subpic{
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 35px;
}
.box{
    height: 400px;
    width: 80px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 70px;
    font-weight: 600;
    padding-left: 700px; 
}
.mainarrivals{
    /* background-color: red; */
    height: 500px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    /* padding-left: 100px; */
    /* gap: 30px; */
    padding: 150px;
}
.arrival1{
    /* background-color: pink; */
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.a1{
    height: 400px;
    width: 300px;
display: flex;
/* margin-left: 80px; */
}
.price{
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text2{
     font-size: 30px;
     color: black;
}
.star img{
    height: 80px;
    width: 200px;
    display: flex;
}
.secondarrival{
    height: 500px;
    width: 1500px;
    display: flex;
    padding-left: 150px;
    gap: 30px;
    margin: 100px;
}
.browse{
    height: 60px;
    width: 200px;
    font-size: 30px;
    color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px purple;
    border-radius: -400% purple;
    align-items: center;
    margin-left: 700px;
}
.bottompic{
    height: 800px;
    width: 90%;
    background-image: url(../pictures/bottomp.webp);
    display: flex;
    background-size: cover;
    margin: 120px;
}
.text9{
    height: 300px;
    width: 85%;
    color: white;
    font-size: 80px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    margin: 300px;
}
.text10{
    height: 80px;
    width: 50px;
    display: flex;
    background-color: purple;
    font-size: 30px;
    color: white;
    justify-content: center;
    /* margin: 300px; */
    /* padding: 50px; */
}
.lastpic{
    height: 700px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    gap: 40px;
    background-size: contain;
    /* background-color: aquamarine; */

}
.lastp1{
    /* background-color: green; */
    background-image: url(../pictures/bottomp1.webp);
    height: 650px;
    width:750px;
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    background-size: cover;
}
.text11{
    height: 150px;
    width: 600px;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    display: flex;
    margin-top: 400px;
    margin-left: 50px;
    /* background-color: blue; */
}
.readmore{
    height: 40px;
    width: 90px;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 10px;
}
.lastp2{
    background-image: url(../pictures/bottomp2.webp);
    background-size: cover;
    height: 650px;
    width:750px ;
    display: flex;
}
.services{
    height: 600px;
    width: 1550px;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 120px;
    gap: 50px;
}
.subservice{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.s1{
    height: 80px;
    width: 100px;
   
    display: flex;
}
.text12{
   
    font-size: 33px;
    color: black;
    font-weight: 100px;
    /* margin: 80px; */
    /* margin-left: -200px; */
}
.text13{

    color:darkblue;
    font-size: 25px;
    /* margin: 100px; */
    /* margin-left: -308px; */
}
.lastdiv{
    height:550px;
    width: 1600px;
    background-color:lightseagreen;
    display: flex;
    flex-direction: column;
    margin: 100px;
    gap: 150px;
    color: white;
}
.sublastdiv{
    /* height: 800px; */
    /* width: 1600px; */
    /* background-color:lightseagreen; */
    display: flex;
    flex-direction: row;
    /* margin: 100px; */
    gap: 150px;
    color: white;
}
h1{
    color: white;
}
.sublast1{
    height: 250px;
    width:250px;
    font-size: 17px;
/* gap: 60px; */
     padding-top: 80px; 
    padding-left: 40px;
}
.lasticons{
    height: 70px;
    width: 200px;
    margin-top: 30px;
}
.twitter ,.fb,.pin{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.sublast2{
    display: flex;
    flex-direction: row;
    /* height: 800px; */
    /* width:700px; */
    padding-top: 80px;
    /* background-color: red; */
    gap: 150px;
}
.gapp{
    gap: 25px;
    font-size: 17px;
    display: flex;
    flex-direction: column;

}
.copyy{
    /* margin-top: 40px; */
    font-size: 20px;
    color: black;
    margin-left: 500px;
}



